
.row {
    height: 10%;
    width: 100%;
    border: 1px solid #000000;
    display: flex
}
.cell {
    font-size: 18px;
    align-items: center;
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    border-right: 1px solid #000000;
}
.endCell {
    font-size: 18px;
    align-items: center;
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
}